* {
    padding: 0px;
    margin: 0px auto;
}

body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.col-6-tille {
    background-color: skyblue;
    margin-bottom: 50px;
}

.header-title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: black;
}

.alert {
    font-size: 25px;
    color: black;
    font-style: italic;
    margin-top: -30px;
}

table,
th,
td {
    border: 2px solid #868585;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    display: table;
}

table tr {
    height: 35px;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(1) {
    background-color: skyblue;
}

.title-table {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    margin-bottom: 1px;
}

.title-table-leave {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.title-chuyenkhoan {
    text-align: center;
    font-size: 35px;
    background-color: white;
    margin-top: -49px;
    padding-bottom: 177px;
}

.logomomo {
    width: 50px;
    margin-right: 10px;
    padding-top: -10px;
}

.title-logo p {
    font-size: 35px;
    padding-top: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.qrchuyenkhoan {
    padding-top: 77px;
}

.session {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#session-1 {
    font-size: 20px;
    background-color: #eee;
    margin-top: 29px;
    border-radius: 15px 15px 15px 15px;
    width: 95%;
}

#session-1 p {
    margin: 15px;
}

#session {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 35px;
}

#session #session-title {
    text-align: center;
    font-size: 25px;
    color: red;
}

.session p {
    margin: 35px;
}

#session-1 h3 {
    text-align: center;
}

.footer {
    text-align: center;
    background-color: skyblue;
    height: 100px;
}

.footer p {
    padding-top: 14px;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}